ul li a {
  text-decoration: none;
  color: black;
  list-style-type: none;
}
ul li {
  list-style: none;
}


@media all and (min-device-width: 200px) and (max-device-width: 400px){
    body{
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    .bonton {
      display: none;
    }
    .logo-1 {
    margin-top: 1px;
    padding-left: 15px;
  }
  ul {
    display: block;
    padding-left: 200px;
    line-height: 100px;
    padding-top: 30px;
    background-color: hsl(231, 69%, 60%);
    position: fixed;
    width: 100%;
    height: 80vh;
    margin-top: -60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    clip-path: circle(100px at 90% -10% );
    -webkit-clip-path: circle(100px at 90% -10% );
    transition: all 1s  ease-out;
    cursor: pointer;
    z-index: 999;
  }
  ul.open {
    clip-path: circle(1000px at 90% -10% );
    -webkit-clip-path: circle(1000px at 90% -10% );
  }
  .hamburger {
    position: relative;
    margin-left: 80%;
    margin-top: -27px;
    cursor: pointer;
    z-index: 999;
  }
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
    
  
   
  }
  .blue-bg {
    background-color: hsl(231, 69%, 60%);
    height: 40vh;
    margin-top: 50px;
    clip-path: circle(344px at 90% -50% );
    z-index: -99;
    margin-left: 10%;
    position: relative;
    width: 100%;
  }
  .blue-bg-logo {
    margin-bottom: 40px;
    position: absolute;
    bottom: 20%;
    left: 1%;
  }
  section {
    padding-top: 60px;
  }
  .text {
    text-align: center;
  }
  .text h3 {
    font-size: 25px;
    line-height: 15px;
  }
  .text p {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .img-btn {
    margin-left: 4%;
    display: flex;
    justify-content: space-evenly;
    
  }
  .chrome {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: rgba(211, 210, 210, 0.966);
    padding: 15px;
    font-size: 12px;
  }
  .firefox {
    border: 5px solid rgba(241, 226, 213, 0.993);
    border-radius: 5px;
    background:  rgba(241, 226, 213, 0.993);
    color: white;
    padding: 15px;
    font-size: 11px;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .options ol li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    line-height: 60px;
    font-size: 20px;
    
  }
  hr {
    margin-right: 10%;
  }
  .bg-color {
    background-color: hsl(231, 69%, 60%);
    height: 40vh;
    margin-top: 50px;
    clip-path: circle(340px at 7% -50% );
    z-index: -99;
    margin-left: 0%;
   
  }
  #overall-bg{
    position: relative;
  }
  .bg-img {
    margin-bottom: -90px;
    position: absolute;
    bottom: 70%;
    right: 6%;
  }
  .card-bg{
    
    width: 60%;
    margin-left: 22%;
    height: 72vh;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .chrome-log {
    margin-left: 27%;
    margin-bottom: 25px;
  }
  .c-logo {
    margin-top: 20px;
  }
  .write-up{
    text-align: center;
  }
  .dotted {
    padding: 0px 25% 0px 2%;
  }
  .btn-bg {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: white;
    padding: 15px 10% 15px 10%;
    font-size: 10px;
    margin: 15% 0px 0px 15%;
  }
  #menu-dp li{
    font-size: 18px;
    word-spacing: 12px;
    list-style-type: none;
    line-height: 20px;
  }
  #menu-dp hr {
    margin-right: 60px;
    
  }
  .arrow1 {
    padding-left: 80%;
    cursor: pointer;
    
  }
  .arrow3 {
    padding-left: 80%;
    cursor: pointer;
  }
  .arrow2 {
    cursor: pointer;
    padding-left: 80%;
  }
  .arrow4 {
    cursor: pointer;
    padding-left: 80%;
  }
  #centre {
    margin-left: 35%;
  }
  .bg-height {
    background: hsl(231, 69%, 60%);
    height: 80vh;
    width: 100%;
  }

  section{
    padding: 0;
    margin: 0;
  }
  .last-text {
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  .last-text h1 {
    color: rgb(212, 209, 209);
    padding-top: 12px;
  }
  .last-text p {
    font-size: 40px;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    padding-left: 20%;
  }
  input {
    padding: 15px;
    border-radius: 10px;
  }
  .input-field button {
    padding: 5%;
    border-radius: 10px;
    background: hsl(0, 94%, 66%);
    color: white;
    font-size: 16px;
  
  }
  .footer-lists li a {
    text-decoration: none;
    color: rgb(212, 209, 209);
  }
  #overall-last-bg {
    background: hsl(229, 31%, 21%);
    height: 70vh;
    width: 100%;
  }
  .ls-logo {
    margin-left: 24%;
    padding-top: 5%;
    
  }
  .footer-lists li {
    list-style-type: none;
    padding-left: 30%;
    line-height: 49px;
    font-size: 22px;
    
  }
  .footer-icons {
    display: grid;
    grid-template-columns: 25% 25%;
    padding-left: 34%;
    
  }
  
  
}

              /* Large screen mobile responsive */

@media all and (min-device-width: 401px) and (max-device-width: 600px){

body{
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    .bonton {
      display: none;
    }
    .logo-1 {
    margin-top: 1px;
    padding-left: 15px;
  }
  ul {
    display: block;
    padding-left: 200px;
    line-height: 100px;
    padding-top: 30px;
    background-color: hsl(231, 69%, 60%);
    position: fixed;
    width: 100%;
    height: 80vh;
    margin-top: -60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    clip-path: circle(100px at 90% -10% );
    -webkit-clip-path: circle(100px at 90% -10% );
    transition: all 1s  ease-out;
    cursor: pointer;
    z-index: 999;
  }
  ul.open {
    clip-path: circle(1000px at 90% -10% );
    -webkit-clip-path: circle(1000px at 90% -10% );
  }
  .hamburger {
    position: relative;
    margin-left: 80%;
    margin-top: -27px;
    cursor: pointer;
    z-index: 999;
  }
  .line {
    width: 40px;
    height: 3px;
    background: black;
    margin: 5px;
    
  
   
  }
  .blue-bg {
    background-color: hsl(231, 69%, 60%);
    height: 40vh;
    margin-top: 50px;
    clip-path: circle(344px at 90% -50% );
    z-index: -99;
    margin-left: 9%;
    position: relative;
    width: 100%;
  }
  .blue-bg-logo {
    margin-bottom: 40px;
    position: absolute;
    bottom: 20%;
    left: 1%;
  }
  section {
    padding-top: 60px;
  }
  .text {
    text-align: center;
  }
  .text h3 {
    font-size: 25px;
    line-height: 15px;
  }
  .text p {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .img-btn {
    margin-left: 4%;
    display: flex;
    justify-content: space-evenly;
    
  }
  .chrome {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: rgba(211, 210, 210, 0.966);
    padding: 15px;
    font-size: 12px;
  }
  .firefox {
    border: 5px solid rgba(241, 226, 213, 0.993);
    border-radius: 5px;
    background:  rgba(241, 226, 213, 0.993);
    color: white;
    padding: 15px;
    font-size: 11px;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .options ol li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    line-height: 60px;
    font-size: 20px;
    
  }
  hr {
    margin-right: 10%;
  }
  .bg-color {
    background-color: hsl(231, 69%, 60%);
    height: 40vh;
    margin-top: 50px;
    clip-path: circle(340px at 7% -50% );
    z-index: -99;
    margin-left: 0%;
   
  }
  #overall-bg{
    position: relative;
  }
  .bg-img {
    margin-bottom: -90px;
    position: absolute;
    bottom: 70%;
    right: 6%;
  }
  .card-bg{
    
    width: 60%;
    margin-left: 22%;
    height: 72vh;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .chrome-log {
    margin-left: 35%;
    margin-bottom: 25px;
  }
  .c-logo {
    margin-top: 20px;
  }
  .write-up{
    text-align: center;
  }
  .dotted {
    padding: 0px 15% 0px 15%;
  }
  .btn-bg {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: white;
    padding: 15px 23px 15px 23px;
    font-size: 10px;
    margin: 14px 25% 0px 25%;
  }
  #menu-dp li{
    font-size: 18px;
    word-spacing: 12px;
    list-style-type: none;
    line-height: 20px;
  }
  #menu-dp hr {
    margin-right: 60px;
    
  }
  .arrow1 {
    padding-left: 80%;
    cursor: pointer;
    
  }
  .arrow3 {
    padding-left: 80%;
    cursor: pointer;
  }
  .arrow2 {
    cursor: pointer;
    padding-left: 80%;
  }
  .arrow4 {
    cursor: pointer;
    padding-left: 80%;
  }
  #centre {
    margin-left: 35%;
  }
  .bg-height {
    background: hsl(231, 69%, 60%);
    height: 80vh;
    width: 100%;
  }

  section{
    padding: 0;
    margin: 0;
  }
  .last-text {
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  .last-text h1 {
    color: rgb(212, 209, 209);
    padding-top: 12px;
  }
  .last-text p {
    font-size: 40px;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    padding-left: 20%;
  }
  input {
    padding: 15px;
    border-radius: 10px;
  }
  .input-field button {
    padding: 15px;
    border-radius: 10px;
    background: hsl(0, 94%, 66%);
    color: white;
    font-size: 16px;
  
  }
  .footer-lists li a {
    text-decoration: none;
    color: rgb(212, 209, 209);
  }
  #overall-last-bg {
    background: hsl(229, 31%, 21%);
    height: 70vh;
    width: 100%;
  }
  .ls-logo {
    margin-left: 35%;
    padding-top: 5%;
    
  }
  .footer-lists li {
    list-style-type: none;
    padding-left: 40%;
    line-height: 49px;
    font-size: 22px;
    
  }
  .footer-icons {
    display: grid;
    grid-template-columns: 25% 25%;
    padding-left: 40%;
    
  }

}

@media all and (min-device-width: 601px) and (max-device-width: 750px){
body{
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    .logo-1 {
    margin-top: 1px;
    padding-left: 15px;
  }

  .bonton  {
    display: none;
  }
  ul {
    display: block;
    padding-left: 200px;
    line-height: 100px;
    padding-top: 30px;
    background-color: hsl(231, 69%, 60%);
    position: fixed;
    width: 100%;
    height: 80vh;
    margin-top: -60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    clip-path: circle(100px at 90% -10% );
    -webkit-clip-path: circle(100px at 90% -10% );
    transition: all 1s  ease-out;
    cursor: pointer;
    z-index: 999;
  }
  ul.open {
    clip-path: circle(1000px at 90% -10% );
    -webkit-clip-path: circle(1000px at 90% -10% );
  }
  .hamburger {
    position: relative;
    margin-left: 70%;
    margin-top: -27px;
    cursor: pointer;
    z-index: 999;
  }
  .line {
    width: 40px;
    height: 3px;
    background: black;
    margin: 5px;
    
  
   
  }
  .blue-bg {
    background-color: hsl(231, 69%, 60%);
    height: 40vh;
    margin-top: 50px;
    clip-path: circle(344px at 90% -50% );
    z-index: -99;
    margin-left: 0%;
    position: relative;
    width: 100%;
  }
  .blue-bg-logo {
    margin-bottom: 40px;
    position: absolute;
    bottom: 20%;
    left: 1%;
  }
  section {
    padding-top: 60px;
  }
  .text {
    text-align: center;
  }
  .text h3 {
    font-size: 25px;
    line-height: 15px;
  }
  .text p {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .img-btn {
    margin-left: 4%;
    display: flex;
    justify-content: space-evenly;
    
  }
  .chrome {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: rgba(211, 210, 210, 0.966);
    padding: 15px;
    font-size: 12px;
  }
  .firefox {
    border: 5px solid rgba(241, 226, 213, 0.993);
    border-radius: 5px;
    background:  rgba(241, 226, 213, 0.993);
    color: white;
    padding: 15px;
    font-size: 11px;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .options ol li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    line-height: 60px;
    font-size: 20px;
    
  }
  hr {
    margin-right: 10%;
  }
  .bg-color {
    background-color: hsl(231, 69%, 60%);
    height: 40vh;
    margin-top: 50px;
    clip-path: circle(340px at 7% -50% );
    z-index: -99;
    margin-left: 0%;
   
  }
  #overall-bg{
    position: relative;
  }
  .bg-img {
    margin-bottom: -90px;
    position: absolute;
    bottom: 70%;
    right: 6%;
  }
  .card-bg{
    
    width: 60%;
    margin-left: 22%;
    height: 72vh;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .chrome-log {
    margin-left: 40%;
    margin-bottom: 25px;
  }
  .c-logo {
    margin-top: 20px;
  }
  .write-up{
    text-align: center;
  }
  .dotted {
    padding: 0px 15% 0px 25%;
  }
  .btn-bg {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: white;
    padding: 15px 23px 15px 23px;
    font-size: 10px;
    margin: 14px 25% 0px 34%;
  }
  #menu-dp li{
    font-size: 18px;
    word-spacing: 12px;
    list-style-type: none;
    line-height: 20px;
  }
  #menu-dp hr {
    margin-right: 60px;
    
  }
  .arrow1 {
    padding-left: 80%;
    cursor: pointer;
    
  }
  .arrow3 {
    padding-left: 80%;
    cursor: pointer;
  }
  .arrow2 {
    cursor: pointer;
    padding-left: 80%;
  }
  .arrow4 {
    cursor: pointer;
    padding-left: 80%;
  }
  #centre {
    margin-left: 35%;
  }
  .bg-height {
    background: hsl(231, 69%, 60%);
    height: 80vh;
    width: 100%;
  }

  section{
    padding: 0;
    margin: 0;
  }
  .last-text {
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  .last-text h1 {
    color: rgb(212, 209, 209);
    padding-top: 12px;
  }
  .last-text p {
    font-size: 40px;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    padding-left: 20%;
  }
  input {
    padding: 15px;
    border-radius: 10px;
  }
  .input-field button {
    padding: 15px;
    border-radius: 10px;
    background: hsl(0, 94%, 66%);
    color: white;
    font-size: 16px;
  
  }
  .footer-lists li a {
    text-decoration: none;
    color: rgb(212, 209, 209);
  }
  #overall-last-bg {
    background: hsl(229, 31%, 21%);
    height: 70vh;
    width: 100%;
  }
  .ls-logo {
    margin-left: 35%;
    padding-top: 5%;
    
  }
  .footer-lists li {
    list-style-type: none;
    padding-left: 40%;
    line-height: 49px;
    font-size: 22px;
    
  }
  .footer-icons {
    display: grid;
    grid-template-columns: 25% 25%;
    padding-left: 40%;
    
  }
}
@media all and (min-device-width: 751px) and (max-device-width: 899px){
body{
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    .bonton {
      display: none;
    }
    .logo-1 {
    margin-top: 1px;
    padding-left: 15px;
  }
  ul {
    display: block;
    padding-left: 200px;
    line-height: 100px;
    padding-top: 30px;
    background-color: hsl(231, 69%, 60%);
    position: fixed;
    width: 100%;
    height: 80vh;
    margin-top: -60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    clip-path: circle(100px at 90% -10% );
    -webkit-clip-path: circle(100px at 90% -10% );
    transition: all 1s  ease-out;
    cursor: pointer;
    z-index: 999;
  }
  ul.open {
    clip-path: circle(1000px at 90% -10% );
    -webkit-clip-path: circle(1000px at 90% -10% );
  }
  .hamburger {
    position: relative;
    margin-left: 70%;
    margin-top: -27px;
    cursor: pointer;
    z-index: 999;
  }
  .line {
    width: 40px;
    height: 3px;
    background: black;
    margin: 5px;
    
  
   
  }
  .blue-bg {
    background-color: hsl(231, 69%, 60%);
    height: 40vh;
    margin-top: 50px;
    clip-path: circle(344px at 90% -50% );
    z-index: -99;
    margin-left: 0%;
    position: relative;
    width: 100%;
  }
  .blue-bg-logo {
    margin-bottom: 40px;
    position: absolute;
    bottom: 20%;
    left: 1%;
  }
  section {
    padding-top: 60px;
  }
  .text {
    text-align: center;
  }
  .text h3 {
    font-size: 25px;
    line-height: 15px;
  }
  .text p {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .img-btn {
    margin-left: 4%;
    display: flex;
    justify-content: space-evenly;
    
  }
  .chrome {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: rgba(211, 210, 210, 0.966);
    padding: 15px;
    font-size: 12px;
  }
  .firefox {
    border: 5px solid rgba(241, 226, 213, 0.993);
    border-radius: 5px;
    background:  rgba(241, 226, 213, 0.993);
    color: white;
    padding: 15px;
    font-size: 11px;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .options ol li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    line-height: 60px;
    font-size: 20px;
    
  }
  hr {
    margin-right: 10%;
  }
  .bg-color {
    background-color: hsl(231, 69%, 60%);
    height: 40vh;
    margin-top: 50px;
    clip-path: circle(340px at 7% -50% );
    z-index: -99;
    margin-left: 0%;
   
  }
  #overall-bg{
    position: relative;
  }
  .bg-img {
    margin-bottom: -90px;
    position: absolute;
    bottom: 70%;
    right: 6%;
  }
  .card-bg{
    
    width: 60%;
    margin-left: 22%;
    height: 72vh;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .chrome-log {
    margin-left: 40%;
    margin-bottom: 25px;
  }
  .c-logo {
    margin-top: 20px;
  }
  .write-up{
    text-align: center;
  }
  .dotted {
    padding: 0px 15% 0px 25%;
  }
  .btn-bg {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: white;
    padding: 15px 23px 15px 23px;
    font-size: 10px;
    margin: 14px 25% 0px 34%;
  }
  #menu-dp li{
    font-size: 18px;
    word-spacing: 12px;
    list-style-type: none;
    line-height: 20px;
  }
  #menu-dp hr {
    margin-right: 60px;
    
  }
  .arrow1 {
    padding-left: 80%;
    cursor: pointer;
    
  }
  .arrow3 {
    padding-left: 80%;
    cursor: pointer;
  }
  .arrow2 {
    cursor: pointer;
    padding-left: 80%;
  }
  .arrow4 {
    cursor: pointer;
    padding-left: 80%;
  }
  #centre {
    margin-left: 35%;
  }
  .bg-height {
    background: hsl(231, 69%, 60%);
    height: 80vh;
    width: 100%;
  }

  section{
    padding: 0;
    margin: 0;
  }
  .last-text {
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  .last-text h1 {
    color: rgb(212, 209, 209);
    padding-top: 12px;
  }
  .last-text p {
    font-size: 40px;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    padding-left: 20%;
  }
  input {
    padding: 15px;
    border-radius: 10px;
  }
  .input-field button {
    padding: 15px;
    border-radius: 10px;
    background: hsl(0, 94%, 66%);
    color: white;
    font-size: 16px;
  
  }
  .footer-lists li a {
    text-decoration: none;
    color: rgb(212, 209, 209);
  }
  #overall-last-bg {
    background: hsl(229, 31%, 21%);
    height: 70vh;
    width: 100%;
  }
  .ls-logo {
    margin-left: 35%;
    padding-top: 5%;
    
  }
  .footer-lists li {
    list-style-type: none;
    padding-left: 40%;
    line-height: 49px;
    font-size: 22px;
    
  }
  .footer-icons {
    display: grid;
    grid-template-columns: 25% 25%;
    padding-left: 40%;
    
  }
}
@media all and (min-width: 900px) and (max-width: 1023px){
.logo-1 {
    padding-top: 27px;
    padding-left: 15px;
  }
  ul {
    display: grid;
    grid-template-columns: 16% 16% 16% 16%;
    list-style: none;
    padding-left: 56%;
    margin-top: -20px;
  }
  ul li a {
    text-decoration: none;
    color: black;
  }

.nav-bar ul li:nth-child(4) {

border: 2px solid tomato;
border-radius: 4px;
background: tomato;
padding-left: 16%;

}

.blue-bg-logo{
float: right;
margin-right: 20%;
}
.text h3 {
    font-size: 25px;
    line-height: 15px;
  }
  .text p {
    font-size: 20px;
    
  }
  .img-btn {
    margin-left: 1%;
    display: flex;
    
    
  }
  .chrome {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: rgba(211, 210, 210, 0.966);
    padding: 15px;
    font-size: 12px;
  }
  .firefox {
    border: 5px solid rgba(241, 226, 213, 0.993);
    border-radius: 5px;
    background:  rgba(241, 226, 213, 0.993);
    color: white;
    padding: 15px;
    font-size: 11px;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
    margin-left: 5%;
  }
   #text1 {
    text-align: center;
    margin-left: 5%;
    padding: 0% 20% 0% 4%;
  }

  .options ol li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    line-height: 60px;
    font-size: 20px;
    display: inline;
    padding: 0% 9% 0% 2%;
    margin-left: 2%;
  }
  hr {
    margin-right: 25%;
  }
  .hrr {
   display: none;
  }
  #overall-bg{
    position: relative;
  }
  .bg-img {
    margin-top: -8%;
    z-index: -99;
    margin-left: 6%;
    position: absolute;
   
    
  }
  #test3 {
    margin-left: 44%;
    margin-top: -6%;
    padding-right: 15%;

  }
  #test3 h3 {
    font-size: 25px;
    line-height: 15px;
  }
  #test3 p {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .bonton {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: rgba(211, 210, 210, 0.966);
    padding: 13px;
    font-size: 12px;
    margin: -4% 0% 0% 8%;
  }
  #extension {
    text-align: center;
    padding: 0% 18% 0% 5%;
    margin-top: 10%;

  }
  #extension h3 {
    font-size: 25px;
    line-height: 15px;
  }
  #extension p {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .card-bg{
    
    width: 50%;
    margin-left: 16%;
    height: 79vh;
    box-shadow: 5px 5px 10px rgb(223, 218, 218);
  }
  .chrome-log {
    margin-left: 30%;
    margin-bottom: 25px;
  }
  .c-logo {
    margin-top: 20px;
  }
  .write-up{
    text-align: center;
  }
  .dotted {
    padding: 0px 0% 0px -10%;
  }
  .btn-bg {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: white;
    padding: 15px 0px 15px 0px;
    font-size: 10px;
    margin: 14% 25% 0px 18%;
  }
  .controller {
    display: flex;
    justify-content: space-between;
    padding-right: 60%;
  }

  #bg-1 {
    margin-top: 10%;
  }

  #bg-2{
    margin-top: 20%;
  }
  .lists-dropdown{
    margin: 0% 12% 0% 3%;
  }
  #menu-dp li{
    font-size: 18px;
    word-spacing: 12px;
    list-style-type: none;
    line-height: 20px;
  }
  #menu-dp hr {
    margin-right: 60px;
    
  }
  .arrow1 {
    padding-left: 80%;
    cursor: pointer;
    
  }
  .arrow3 {
    padding-left: 80%;
    cursor: pointer;
  }
  .arrow2 {
    cursor: pointer;
    padding-left: 80%;
  }
  .arrow4 {
    cursor: pointer;
    padding-left: 80%;
  }
  .chrome {
    border: 5px solid  hsl(231, 69%, 60%);
    border-radius: 5px;
    background:  hsl(231, 69%, 60%);
    color: rgba(211, 210, 210, 0.966);
    padding: 15px;
    font-size: 12px;
    margin-left: 35%;
  }
  .bg-height {
    background: hsl(231, 69%, 60%);
    height: 80vh;
    width: 100%;
  }

  section{
    padding: 0;
    margin: 0;
  }
  .last-text {
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  .last-text h1 {
    color: rgb(212, 209, 209);
    padding-top: 12px;
    margin-right: 5%;
  }
  .last-text p {
    font-size: 40px;
    margin-right: 10%;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    padding-right: 40%;
    padding-left: 20%;
    margin-left: 10%; 
  }
  input {
    padding: 15px;
    border-radius: 10px;
  }
  .input-field button {
    padding: 15px;
    border-radius: 10px;
    background: hsl(0, 94%, 66%);
    color: white;
    font-size: 16px;
  
  }
  #overall-last-bg {
      background: hsl(229, 31%, 21%);
      position: relative;
      
  }
  .footer-lists ol li {
      
      display: inline;
      
      
      padding-left: 19%;
      
    
  }
  .ls-logo {
      position: absolute;
      bottom: 33%;
      padding-left: 5%;
  }
  .footer-lists ol li a {
      text-decoration: none;
      margin-bottom: -20%;

  }

  .footer-icons {
      display: grid;
      grid-template-columns: 15% 15%;
      margin-left: 60%;
  }


  }

  @media screen and (min-width: 1024px) {
    .logo-1 {
      padding-top: 27px;
      padding-left: 15px;
    }
    ul {
      display: grid;
      grid-template-columns: 16% 16% 16% 16%;
      list-style: none;
      padding-left: 56%;
      margin-top: -20px;
    }
    ul li a {
      text-decoration: none;
      color: black;
    }
  
  .nav-bar ul li:nth-child(4) {
  
  border: 2px solid tomato;
  border-radius: 4px;
  background: tomato;
  padding-left: 16%;
  
  }
  
  .blue-bg-logo{
  float: right;
  margin-right: 20%;
  }
  .text h3 {
      font-size: 25px;
      line-height: 15px;
    }
    .text p {
      font-size: 20px;
      
    }
    .img-btn {
      margin-left: 1%;
      display: flex;
      
      
    }
    .chrome {
      border: 5px solid  hsl(231, 69%, 60%);
      border-radius: 5px;
      background:  hsl(231, 69%, 60%);
      color: rgba(211, 210, 210, 0.966);
      padding: 15px;
      font-size: 12px;
    }
    .firefox {
      border: 5px solid rgba(241, 226, 213, 0.993);
      border-radius: 5px;
      background:  rgba(241, 226, 213, 0.993);
      color: white;
      padding: 15px;
      font-size: 11px;
      box-shadow: 5px 5px 10px rgb(223, 218, 218);
      margin-left: 5%;
    }
     #text1 {
      text-align: center;
      margin-left: 5%;
      padding: 0% 20% 0% 4%;
    }
  
    .options ol li {
      text-align: center;
      text-decoration: none;
      list-style: none;
      line-height: 60px;
      font-size: 20px;
      display: inline;
      padding: 0% 9% 0% 2%;
      margin-left: 2%;
    }
    hr {
      margin-right: 25%;
    }
    .hrr {
     display: none;
    }
    #overall-bg{
      position: relative;
    }
    .bg-img {
      margin-top: -8%;
      z-index: -99;
      margin-left: 6%;
      position: absolute;
     
      
    }
    #test3 {
      margin-left: 44%;
      margin-top: -6%;
      padding-right: 15%;
  
    }
    #test3 h3 {
      font-size: 25px;
      line-height: 15px;
    }
    #test3 p {
      font-size: 20px;
      padding-left: 12px;
      padding-right: 12px;
    }
  
    .bonton {
      border: 5px solid  hsl(231, 69%, 60%);
      border-radius: 5px;
      background:  hsl(231, 69%, 60%);
      color: rgba(211, 210, 210, 0.966);
      padding: 13px;
      font-size: 12px;
      margin: -4% 0% 0% 8%;
    }
    #extension {
      text-align: center;
      padding: 0% 18% 0% 5%;
      margin-top: 10%;
  
    }
    #extension h3 {
      font-size: 25px;
      line-height: 15px;
    }
    #extension p {
      font-size: 20px;
      padding-left: 12px;
      padding-right: 12px;
    }
    .card-bg{
      
      width: 50%;
      margin-left: 16%;
      height: 79vh;
      box-shadow: 5px 5px 10px rgb(223, 218, 218);
    }
    .chrome-log {
      margin-left: 30%;
      margin-bottom: 25px;
    }
    .c-logo {
      margin-top: 20px;
    }
    .write-up{
      text-align: center;
    }
    .dotted {
      padding: 0px 0% 0px -10%;
    }
    .btn-bg {
      border: 5px solid  hsl(231, 69%, 60%);
      border-radius: 5px;
      background:  hsl(231, 69%, 60%);
      color: white;
      padding: 15px 0px 15px 0px;
      font-size: 10px;
      margin: 14% 25% 0px 18%;
    }
    .controller {
      display: flex;
      justify-content: space-between;
      padding-right: 60%;
    }
  
    #bg-1 {
      margin-top: 10%;
    }
  
    #bg-2{
      margin-top: 20%;
    }
    .lists-dropdown{
      margin: 0% 12% 0% 3%;
    }
    #menu-dp li{
      font-size: 18px;
      word-spacing: 12px;
      list-style-type: none;
      line-height: 20px;
    }
    #menu-dp hr {
      margin-right: 60px;
      
    }
    .arrow1 {
      padding-left: 80%;
      cursor: pointer;
      
    }
    .arrow3 {
      padding-left: 80%;
      cursor: pointer;
    }
    .arrow2 {
      cursor: pointer;
      padding-left: 80%;
    }
    .arrow4 {
      cursor: pointer;
      padding-left: 80%;
    }
    .chrome {
      border: 5px solid  hsl(231, 69%, 60%);
      border-radius: 5px;
      background:  hsl(231, 69%, 60%);
      color: rgba(211, 210, 210, 0.966);
      padding: 15px;
      font-size: 12px;
      margin-left: 35%;
    }
    .bg-height {
      background: hsl(231, 69%, 60%);
      height: 80vh;
      width: 100%;
    }
  
    section{
      padding: 0;
      margin: 0;
    }
    .last-text {
      text-align: center;
      color: white;
      padding-top: 10px;
    }
    .last-text h1 {
      color: rgb(212, 209, 209);
      padding-top: 12px;
      margin-right: 5%;
    }
    .last-text p {
      font-size: 40px;
      margin-right: 10%;
    }
    .input-field {
      display: flex;
      flex-direction: column;
      padding-right: 40%;
      padding-left: 20%;
      margin-left: 10%; 
    }
    input {
      padding: 15px;
      border-radius: 10px;
    }
    .input-field button {
      padding: 15px;
      border-radius: 10px;
      background: hsl(0, 94%, 66%);
      color: white;
      font-size: 16px;
    
    }
    #overall-last-bg {
        background: hsl(229, 31%, 21%);
        position: relative;
        
    }
    .footer-lists ol li {
        
        display: inline;
        
        
        padding-left: 19%;
        
      
    }
    .ls-logo {
        position: absolute;
        bottom: 33%;
        padding-left: 5%;
    }
    .footer-lists ol li a {
        text-decoration: none;
        margin-bottom: -20%;
  
    }
  
    .footer-icons {
        display: grid;
        grid-template-columns: 15% 15%;
        margin-left: 60%;
    }
  }
  